$themes: (
  dark: (
    mainBG: hsl(222, 26%, 31%),
    keypadBG: hsl(223, 31%, 20%),
    screenBG: hsl(224, 36%, 15%),
    keyBG: hsl(30, 25%, 89%),
    keyShadow: hsl(28, 16%, 65%),
    specialKey1: hsl(6, 63%, 50%),
    specialKey1Shadow: hsl(6, 70%, 34%),
    specialKey2: hsl(225, 21%, 49%),
    specialKey2Shadow: hsl(224, 28%, 35%),
    mainText: hsl(0, 0%, 100%),
    textDark: hsl(221, 14%, 31%),
    textLight: hsl(0, 0%, 100%),
  ),
  light: (
    mainBG: hsl(0, 0%, 90%),
    keypadBG: hsl(0, 5%, 81%),
    screenBG: hsl(0, 0%, 93%),
    keyBG: hsl(45, 7%, 89%),
    keyShadow: hsl(35, 11%, 61%),
    specialKey1: hsl(25, 98%, 40%),
    specialKey1Shadow: hsl(25, 99%, 27%),
    specialKey2: hsl(185, 42%, 37%),
    specialKey2Shadow: hsl(185, 58%, 25%),
    mainText: hsl(60, 10%, 19%),
    textDark: hsl(60, 10%, 19%),
    textLight: hsl(0, 0%, 100%),
  ),
  purple: (
    mainBG: hsl(268, 75%, 9%),
    keypadBG: hsl(268, 71%, 12%),
    screenBG: hsl(268, 71%, 12%),
    keyBG: hsl(281, 89%, 26%),
    keyShadow: hsl(285, 91%, 52%),
    specialKey1: hsl(176, 100%, 44%),
    specialKey1Shadow: hsl(177, 92%, 70%),
    specialKey2: hsl(268, 47%, 21%),
    specialKey2Shadow: hsl(290, 70%, 36%),
    mainText: hsl(52, 100%, 62%),
    textDark: hsl(52, 100%, 62%),
    textLight: hsl(0, 0%, 100%),
  ),
);
